<div class="wrapper" style="width: 20%">
  <h2>CookBook Login Page</h2>
  <div>
    <label for="username">Username:</label>
    <input class="mb-1" type="text" id="username" placeholder="Username" />
  </div>
  <div>
    <label for="pwd">Password:</label>
    <input class="mb-1" type="password" id="pwd" placeholder="Enter password" />
  </div>
  <div class="checkbox">
    <label><input type="checkbox" /> Remember me</label>
  </div>
  <button type="submit">Login</button>

  <div *ngIf="errorMessage" id="error-message"></div>
</div>
