<div class="wrapper">
  <div class="container has-background-link-dark" style="width: 20%">
    <h2 class="has-text-white-bis">Please login</h2>
    <div class="pb-3">
      <label class="has-text-white-bis is-size-5" for="username"
        >Username:</label
      >
      <input class="mb-1" type="text" id="username" placeholder="Username" />
    </div>
    <div>
      <label class="has-text-white-bis is-size-5" for="pwd">Password:</label>
      <input
        class="mb-3"
        type="password"
        id="pwd"
        placeholder="Enter password"
      />
    </div>
    <div class="mb-1">
      <label class="has-text-white-bis is-size-6"
        ><input type="checkbox" class="mb-4" /> Remember me</label
      >
    </div>
    <div class="mb-1">
      <button class="button is-danger is-size-5 mb-6" type="submit">
        Login
      </button>
    </div>
    <div class="mb-1" *ngIf="errorMessage" id="error-message"></div>
  </div>
</div>
