<<<<<<< HEAD
=======
/* @import "bulma/css/bulma.css"; */

.profile {
  padding-right: 20px;
}

.login {
  padding-right: 20px;
}

.singout {
  padding-right: 20px;
}
>>>>>>> 88c236788308eb2c3b107fb353ce2d3fcbf9f4e1
