<section class="hero is-light is-fullheight is-bold">
    <div class="hero-body">
    <div class="container has-text-centered">
      <h1 style="text-shadow: 2px 2px 5px rgb(13, 13, 46);"><strong>Welcome to Cookbook</strong></h1>

      <div class="gallery">
        <a target="_blank" href="\assets\img\Chicken Enchilada Casserole.jpg">
          <img src="\assets\img\Chicken Enchilada Casserole.jpg" alt="Chicken Enchilada Casserole" width="600" height="400">
        </a>
        <div class="desc"><strong>Chicken Enchilada Casserole</strong></div>
      </div>
      
      <div class="gallery">
        <a target="_blank" href="\assets\img\Chicken Quinoa Greek Salad.jpg">
          <img src="\assets\img\Chicken Quinoa Greek Salad.jpg" alt="Chicken Quinoa Greek Salad" width="600" height="400">
        </a>
        <div class="desc"><strong>Chicken Quinoa Greek Salad</strong></div>
      </div>
      
      <div class="gallery">
        <a target="_blank" href="https://www.themealdb.com/meal/53063-Chivito-uruguayo-Recipe">
          <img src="\assets\img\Chivito uruguayo.jpg" alt="Chivito uruguayo" width="600" height="400">
        </a>
        <div class="desc"><strong>Chivito uruguayo</strong></div>
      </div>
      
      <div class="gallery">
        <a target="_blank" href="\assets\img\Rogaliki (Polish Croissant Cookies).jpg">
          <img src="\assets\img\Rogaliki (Polish Croissant Cookies).jpg" alt="Rogaliki (Polish Croissant Cookies)" width="600" height="400">
        </a>
        <div class="desc"><strong>Rogaliki (Polish Croissant Cookies)</strong></div>
      </div>

      <div class="gallery">
        <a target="_blank" href="\assets\img\lamb.png">
          <img src="\assets\img\Croatian lamb peka.jpg" alt="Croatian lamb peka" width="600" height="400">
        </a>
        <div class="desc"><strong>Croatian lamb peka</strong></div>
      </div>

      <div class="gallery">
        <a target="_blank" href="\assets\img\cake.jpg">
          <img src="\assets\img\Vegan Chocolate Cake.jpg" alt="Vegan Chocolate Cake" width="600" height="400">
        </a>
        <div class="desc"><strong>Vegan Chocolate Cake</strong></div>
      </div>

      

    </div>
    </div>
    </section>
